

.child{
    .element1{
        position: absolute;
        left: 100px;
        top: 700px;
        font-family: 'MS Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 236.64px;
        line-height: 121.7%;
        letter-spacing: 0.135em;
        text-transform: uppercase;
        color: #CC4242;
    }
    .element2{
        position: absolute;
        left: 1550px;
        top: 1320px;
        font-family: 'MS Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 236.64px;
        line-height: 121.7%;
        letter-spacing: 0.135em;
        text-transform: uppercase;
        color: #CC4242;
    }
    .text-box{
        
        p{
            position: absolute;
            top: 145%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Libre Franklin';
            font-size: 80px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 1200px;
            text-align: center;
            position: absolute;
            .red{
                color:#CC4242
            }
        }
    }
}