.child{
   
.head{
        position: relative;
        top:-120px;
        bottom:400px;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 121.7%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .skill{
        width: 600px;
        position: relative;
        top: -30px;
    }
    .heading{
        position: relative;
        top: -60px;
        left:-10px;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 900;
        font-size: 37px;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #CC4242;
        text-decoration: none;
        &:hover{
            color: #FFFFFF;
            transition: 0.5s ease-in-out; 
        }
    }

}