$primary-clr: #CC4242;
@font-face {
  font-family: 'Libre Franklin';
  src: url('./assets/fonts/LibreFranklin-Black.ttf') format('ttf');
}
body::-webkit-scrollbar{
  display: none;
}
html { 
  scroll-snap-type: y mandatory;
}
.child {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}
